@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline: 1px solid tomato;*/
  line-height: 1.6;
}

html, body {
  min-width: 1500px;
}

.flex {
  display: flex;
}

.up-title {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #7EB693;
}

.sub-title {
  font-size: 45px;
  font-family: "Roboto", serif;
  font-weight: 800;
  color: #274C5B;
}

/*---------------------Header-------------------------------------*/

.header {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 30px;
  transition: all .7s ease-in-out;
  z-index: 10;
}

.hidden {
  top: -141px;
  transition: all .7s ease-in-out;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header_container {
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header_navigation {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 100px;
}

.header_list {
  display: flex;
  list-style: none;
}

.header_link {
  font-size: 19px;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #274C5B;
}

.header_cart {
  width: 160px;
  height: 75px;
  display: flex;
  align-items: center;
  border: 1px #D4D4D4 solid;
  border-radius: 50px;
  padding: 8px 11px;
  overflow: hidden;
  transition: all .3s;
  cursor: pointer;
}

.header_icon-cart {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 10px;
  background: #274C5B;
}

.header_icon-cart:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #274C5B;
  z-index: -1;
  transition: all .9s;
}

.header_cart:hover {
  color: #ffffff;
}

.header_cart:hover .header_icon-cart:before {
  left: -250px;
  top: -250px;
  width: 500px;
  height: 500px;
  border-radius: 0;
  transition: all .9s;
}

.header_iconCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_price-cart {
  align-items: center;
  font-size: 19px;
}

/*---------------------Main-------------------------------------*/

.main {
  margin-top: 141px;
}

/*---------------------MainScreen-------------------------------------*/

.main-screen {
  position: relative;
  width: 100%;
  height: 910px;
  background-image: url("/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 140px;
}

.main-screen_text-container {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.main-screen_text-up {
  font-size: 36px;
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
}

.main-screen_title {
  font-size: 70px;
  font-family: "Roboto", serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 30px;
}

.main-screen_explore-now {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFD372;
  border-radius: 16px;
  width: 220px;
  height: 82px;
  text-decoration: none;
}

.main-screen_link {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 24px;
  color: #274C5B;
}

.main-screen_circle {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #335B6B;
}

.main-screen_icon-arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------Card-------------------------------------*/

.cards {
  width: 100%;
  padding: 0 30px;
  justify-content: space-between;
  margin-bottom: 140px;
}

.cards_card {
  position: relative;
  width: 665px;
  height: 378px;
}

.card_img {
  width: 100%;
}

.card_block-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
  color: #fff;
}

.card_text-up {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.card_title {
  width: 260px;
  font-size: 40px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.card_text-up--c {
  color: #7EB693;
}

.card_title--c {
  color: #274C5B;
}

/*---------------------AboutUs-------------------------------------*/

.AboutUs {
  padding: 130px 30px 140px;
  background: #F9F8F8;
  margin-bottom: 120px;
}

.AboutUs_title {
  margin-bottom: 22px;
}

.AboutUs_description {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 400;
  color: #525C60;
  margin-bottom: 30px;
}

.AboutUs_list {
  list-style: none;
}

.AboutUs_item {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.AboutUs_icon {
  position: relative;
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  background: #ffffff;
}

.AboutUs_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AboutUs_icon:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FFF4CD;
  top: 30%;
  left: 15%;

}

.AboutUs_text {
  width: 100%;
  margin-left: 20px;
}

.AboutUs_text-title {
  width: 100%;
  font-size: 25px;
  font-family: "Roboto", serif;
  font-weight: 400;
}

.AboutUs_text-desс {
  font-size: 18px;
  font-family: "Open Sans", serif;
}

.AboutUs_shop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #274C5B;
  border-radius: 16px;
  width: 220px;
  height: 82px;
  text-decoration: none;
}

.AboutUs_link {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 24px;
  color: #ffffff;
}

.AboutUs_circle {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #335B6B;
}

.AboutUs_icon-arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------Shop-------------------------------------*/

.shop {
  margin-bottom: 140px;
}

.up-title, .sub-title {
  text-align: center;
}

.shop_list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



/*---------------------Card-------------------------------------*/

.card {
  width: 447px;
  height: 590px;
  background: #F9F8F8;
  padding: 30px;
  border-radius: 30px;
}

.card_link {
  text-decoration: none;
}

.card_tag {
  display: inline-block;
  padding: 5px 20px;
  background: #274C5B;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", serif;
}

.card_image {
  margin-bottom: 30px;
}

.card_title {
  width: 100%;
  font-size: 22px;
  font-family: "Roboto", serif;
  color: #274C5B;
  padding-bottom: 11px;
  margin-bottom: 10px;
  border-bottom: 1px solid #D4D4D4;
}

.card_price-riting {
  align-items: center;
  justify-content: space-between;
}

.card_text {
  align-content: center;
}

.card_price {
  font-size: 18px;
  font-family: "Open Sans", serif;
  font-weight: 800;
  color: #274C5B;
}

.card_price-old {
  font-size: 18px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color: #B8B8B8;
  margin-right: 10px;
}

.card_riting {
  display: flex;
}

.card_riting img {
  width: 20px;
  height: 20px;
}

/*---------------------testimonial-------------------------------------*/

.testimonial {
  background-image: url("/img/bgThree.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1250px;
  padding : 160px 0 140px;
}

.testimonial_circle-block {
  display: flex;
  gap: 27px;
  justify-content: center;
}

.testimonial_img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial_text {
  text-align: center;
}

.text_up {
  font-family: "Roboto", serif;
  font-weight: 800;
  font-size: 42px;
  color: #274C5B;
}

.text_down {
  color: #274C5B;
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 18px;
}

.testimonial-titles {
  margin-bottom: 90px;
}

.testimonial_one-block {
  text-align: center;
  margin-bottom: 65px;
}

.testimonial_line {
  width: 966px;
  height: 2px;
  background: #E0E0E0;
  margin: 0 auto;
}

.testimonial_person {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.card_riting {
  display: block;
  width: auto;
  margin: 0 auto;
}

.testimonial_text-descr {
  width: 910px;
  text-align: center;
  font-family: "Open Sans", serif;
  font-size: 18px;
  margin:0 auto;
  margin-bottom: 30px;
}


.testimonial_circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #7EB693;
  background: #F1F1F1;
  box-shadow: inset 0 0 0 8px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/*---------------------Offer-Products-------------------------------------*/

.Offer-Products {
  padding: 140px 30px 120px;
  background: #274C5B;
}

.Offer-Products_list {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.Offer-Products_top {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.Offer-Products_up {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #7EB693;
}

.Offer-Products_title {
  font-size: 45px;
  font-family: "Roboto", serif;
  font-weight: 800;
  color: #ffffff;
}

.Offer-Products_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #EFD372;
  border-radius: 16px;
  padding: 15px 30px;
  text-decoration: none;
}

/*---------------------Eco-Friendly-------------------------------------*/

.Eco-Friendly {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 704px;
}

.Eco-Friendly_left {
  background-image: url("/img/bgFour.png");
}

.Eco-Friendly_right {
  position: relative;
}

.Eco-Friendly_block {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 720px;
  height: 623px;
  background: #ffffff;
  border-radius: 30px 0 0 30px;
  padding: 30px 40px 55px 60px;
}

.Eco-Friendly_up {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #7EB693;
}

.Eco-Friendly_item {
  margin-bottom: 15px;
}

.Eco-Friendly_title {
  width: 340px;
  font-size: 45px;
  font-family: "Roboto", serif;
  font-weight: 800;
  color: #274C5B;
  margin-bottom: 30px;
}

.Eco-Friendly_iteem-title {
  font-size: 23px;
  font-family: "Roboto", serif;
  font-weight: 800;
  color: #274C5B;
  margin-bottom: 3px;
}

.Eco-Friendly_iteem-descr {
  font-size: 18px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color: #525C60 ;
}

/*---------------------three-cards-------------------------------------*/

.three-cards {
  display: flex;
  justify-content: space-between;
  padding: 140px 0 140px;
  background: #EFF6F1;
}

.three-cards_item {
  position: relative;
  /*background: #07ac37;*/
  width: 460px;
  height: 580px;
}

.three-cards_img {
  border-radius: 20px;
}

.three-cards_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 25px;
  font-family: "Roboto", serif;
  font-weight: 800;
  color: #274C5B;
  padding: 30px 79px;
  border-radius: 20px;
  border: none;
}

